* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	text-decoration: none;
}

img {
	width: 100%;
	height: 60%;
}

body {
	overflow: hidden;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.border {
	width: 50%;
	height: 80%;
	border: 3px solid black;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.btn__one {
	padding: 10px 38px;
	margin-right: 12px;
	background-color: rgb(105, 155, 54);
	border: none;
	color: white;
}

.btn__two {
	padding: 10px 38px;
	background-color: rgb(54, 79, 155);
	border: none;
	color: white;
}


.btn__reset {
	padding: 10px 52px;
	background-color: rgb(155, 54, 54);
	border: none;
	color: white;
	margin-left: 12px;
}

.player1,
.player2 {
	font-size: 30px;
}

.line {
	height: 2px;
	width: 100%;
	background-color: black;
}

.winner {
	color: greenyellow;
}

.looser {
	color: red;
}

#score__points {
	border-radius: 25px;
	background-color: aqua;
}